body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  background-color: black;
  width: 950px;
  margin: 0 auto;
  padding: 0 2em 1em;
}
h1 {
  font-size: 300%;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
footer {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 60%;
  width: 850px;
  margin: 0 auto;
  padding: 0 75em 1em;
}
label {
  float: left;
  width: 8em;
}
input,
select {
  width: 10em;
  margin-right: 1em;
  margin-bottom: 1em;
}
input[type="checkbox"] {
  width: 2em;
}
header p {
  margin: 0 2em 1em 0;
}

#tabs-2,
#tabs-3 {
  font-size: 130%;
  line-height: 200%;
  background-color: rgb(59, 57, 57);
}
legend {
  font-weight: bold;
  font-size: 140%;
}
#player,
#high_score,
#correct {
  float: left;
  color: rgb(177, 161, 161);
  font-size: 130%;
  float: right;
  font-weight: bolder;
}

#new_game {
  float: left;
  text-decoration: none;
  text-decoration-line: underline;
  color: red;
  font-weight: bold;
  font-size: 180%;
}
.clear {
  clear: both;
}

/* game board css */
.game_card {
  height: 100%;
  width: calc(12.5% - 10px);
  cursor: pointer;
  padding: 5px 3px;
  background-color: #3d1f1f;
  transform-style: preserve-3d;
  perspective: 500px;
}
#cards {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  animation: flip 1s;
}
#cards img {
  width: 100%;
  height: 100%;
  z-index: 1;
  backface-visibility: hidden;
  transition: linear;
}

@keyframes flip {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
